In [2]:
import pandas as pd

In [3]:
path="OLA_DataSet.xlsx"
df=pd.read_excel(path,sheet_name="July")

In [4]:
df=df.drop(columns=['Vehicle Images'])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103024 entries, 0 to 103023
Data columns (total 22 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Date                        103024 non-null  object
 1   Time                        103024 non-null  object
 2   Booking_ID                  103024 non-null  object
 3   Booking_Status              103024 non-null  object
 4   Customer_ID                 103024 non-null  object
 5   Vehicle_Type                103024 non-null  object
 6   Pickup_Location             103024 non-null  object
 7   Drop_Location               103024 non-null  object
 8   V_TAT                       63967 non-null   float64
 9   C_TAT                       63967 non-null   float64
 10  Canceled_Rides_by_Customer  10499 non-null   object
 11  Canceled_Rides_by_Driver    18434 non-null   object
 12  Incomplete_Rides            63967 non-null   object
 13  Incomplete_Rides_Reason     3926 non-null    object
 14  Booking_Value               103024 non-null  int64
 15  Payment_Method              63967 non-null   object
 16  Ride_Distance               103024 non-null  int64
 17  Driver_Ratings              63967 non-null   float64
 18  Customer_Rating             63967 non-null   float64
 19  Ride_Outcome                103024 non-null  object
 20  Revenue_per_km              63967 non-null   float64
 21  Is_Cancelled                103024 non-null  int32
dtypes: float64(5), int32(1), int64(2), object(14)
memory usage: 16.9+ MB

In [6]:
print(df.isnull().sum())

Date                              0
Time                              0
Booking_ID                        0
Booking_Status                    0
Customer_ID                       0
Vehicle_Type                      0
Pickup_Location                   0
Drop_Location                     0
V_TAT                         39057
C_TAT                         39057
Canceled_Rides_by_Customer    92525
Canceled_Rides_by_Driver      84590
Incomplete_Rides              39057
Incomplete_Rides_Reason       99098
Booking_Value                     0
Payment_Method                39057
Ride_Distance                     0
Driver_Ratings                39057
Customer_Rating               39057
dtype: int64

In [25]:
df['Payment_Method'] = df['Payment_Method'].fillna("Unknown")

In [26]:
df['V_TAT'] = df['V_TAT'].fillna("NaN")

In [27]:
df['C_TAT'] = df['C_TAT'].fillna("NaN")

In [28]:
df['Canceled_Rides_by_Customer'] = df['Canceled_Rides_by_Customer'].fillna("NaN")

In [29]:
df['Canceled_Rides_by_Driver'] = df['Canceled_Rides_by_Driver'].fillna("NaN")

In [30]:
df['Incomplete_Rides'] = df['Incomplete_Rides'].fillna("NaN")
df['Incomplete_Rides_Reason'] = df['Incomplete_Rides_Reason'].fillna("NaN")

In [31]:
df['Driver_Ratings'] = df['Driver_Ratings'].fillna("NaN")
df['Customer_Rating'] = df['Customer_Rating'].fillna("NaN")

In [33]:
print(df.isnull().sum())

Date                              0
Time                              0
Booking_ID                        0
Booking_Status                    0
Customer_ID                       0
Vehicle_Type                      0
Pickup_Location                   0
Drop_Location                     0
V_TAT                             0
C_TAT                             0
Canceled_Rides_by_Customer        0
Canceled_Rides_by_Driver          0
Incomplete_Rides                  0
Incomplete_Rides_Reason           0
Booking_Value                     0
Payment_Method                    0
Ride_Distance                     0
Driver_Ratings                    0
Customer_Rating                   0
Ride_Outcome                      0
Revenue_per_km                39057
Is_Cancelled                      0
dtype: int64

In [34]:
df['Booking_Status'] = df['Booking_Status'].str.title()
df['Vehicle_Type'] = df['Vehicle_Type'].str.title()

In [35]:
df['Date'] = pd.to_datetime(df['Date']).dt.date

In [36]:
# Ride Outcome: Success / Cancelled / Incomplete
df['Ride_Outcome'] = df.apply(
    lambda x: "Incomplete" if str(x['Incomplete_Rides']).strip().lower() == "yes"
              else ("Cancelled" if "Cancel" in x['Booking_Status'] else "Success"),
    axis=1
)

In [37]:
# Revenue per km (avoid divide-by-zero)
df['Revenue_per_km'] = df.apply(
    lambda x: x['Booking_Value']/x['Ride_Distance'] if x['Ride_Distance'] > 0 else None,
    axis=1
)

In [38]:
# Binary flag for cancellations
df['Is_Cancelled'] = df['Booking_Status'].str.contains("Cancel").astype(int)

In [39]:
print("Unique Booking Statuses:", df['Booking_Status'].unique())
print("Unique Payment Methods:", df['Payment_Method'].unique())
print("Unique Vehicle Types:", df['Vehicle_Type'].unique())
print("Duplicate Booking IDs:", df['Booking_ID'].duplicated().sum())

Unique Booking Statuses: ['Canceled By Driver' 'Success' 'Canceled By Customer' 'Driver Not Found']
Unique Payment Methods: ['Unknown' 'Cash' 'UPI' 'Credit Card' 'Debit Card']
Unique Vehicle Types: ['Prime Sedan' 'Bike' 'Prime Suv' 'Ebike' 'Mini' 'Prime Plus' 'Auto']
Duplicate Booking IDs: 0

In [40]:
print(df.head())

         Date      Time     Booking_ID        Booking_Status Customer_ID  \
0  2024-07-26  14:00:00  CNR7153255142    Canceled By Driver   CID713523
1  2024-07-25  22:20:00  CNR2940424040               Success   CID225428
2  2024-07-30  19:59:00  CNR2982357879               Success   CID270156
3  2024-07-22  03:15:00  CNR2395710036  Canceled By Customer   CID581320
4  2024-07-02  09:02:00  CNR1797421769               Success   CID939555

  Vehicle_Type Pickup_Location Drop_Location  V_TAT  C_TAT  ...  \
0  Prime Sedan     Tumkur Road      RT Nagar    NaN    NaN  ...
1         Bike     Magadi Road       Varthur  203.0   30.0  ...
2    Prime Suv   Sahakar Nagar       Varthur  238.0  130.0  ...
3        Ebike      HSR Layout   Vijayanagar    NaN    NaN  ...
4         Mini     Rajajinagar   Chamarajpet  252.0   80.0  ...

  Incomplete_Rides Incomplete_Rides_Reason Booking_Value Payment_Method  \
0              NaN                     NaN           444        Unknown
1               No                     NaN           158           Cash
2               No                     NaN           386            UPI
3              NaN                     NaN           384        Unknown
4               No                     NaN           822    Credit Card

   Ride_Distance Driver_Ratings  Customer_Rating Ride_Outcome Revenue_per_km  \
0              0            NaN              NaN    Cancelled            NaN
1             13            4.1              4.0      Success      12.153846
2             40            4.2              4.8      Success       9.650000
3              0            NaN              NaN    Cancelled            NaN
4             45            4.0              3.0      Success      18.266667

  Is_Cancelled
0            1
1            0
2            0
3            1
4            0

[5 rows x 22 columns]

In [41]:
print(df.shape)

(103024, 22)

In [42]:
print(df.dtypes)

Date                           object
Time                           object
Booking_ID                     object
Booking_Status                 object
Customer_ID                    object
Vehicle_Type                   object
Pickup_Location                object
Drop_Location                  object
V_TAT                          object
C_TAT                          object
Canceled_Rides_by_Customer     object
Canceled_Rides_by_Driver       object
Incomplete_Rides               object
Incomplete_Rides_Reason        object
Booking_Value                   int64
Payment_Method                 object
Ride_Distance                   int64
Driver_Ratings                 object
Customer_Rating                object
Ride_Outcome                   object
Revenue_per_km                float64
Is_Cancelled                    int32
dtype: object

In [43]:
print(df.describe(include='all').transpose())

                               count  unique            top   freq  \
Date                          103024      31     2024-07-30   3432
Time                          103024    1440       00:53:00    101
Booking_ID                    103024  103024  CNR7153255142      1
Booking_Status                103024       4        Success  63967
Customer_ID                   103024   94544      CID954071      5
Vehicle_Type                  103024       7    Prime Sedan  14877
Pickup_Location               103024      50   Banashankari   2201
Drop_Location                 103024      50         Peenya   2159
V_TAT                         103024      41            NaN  39057
C_TAT                         103024      26            NaN  39057
Canceled_Rides_by_Customer    103024       6            NaN  92525
Canceled_Rides_by_Driver      103024       5            NaN  84590
Incomplete_Rides              103024       3             No  60041
Incomplete_Rides_Reason       103024       4            NaN  99098
Booking_Value               103024.0     NaN            NaN    NaN
Payment_Method                103024       5        Unknown  39057
Ride_Distance               103024.0     NaN            NaN    NaN
Driver_Ratings                103024      22            NaN  39057
Customer_Rating               103024      22            NaN  39057
Ride_Outcome                  103024       3        Success  70165
Revenue_per_km               63967.0     NaN            NaN    NaN
Is_Cancelled                103024.0     NaN            NaN    NaN

                                  mean         std       min        25%  \
Date                               NaN         NaN       NaN        NaN
Time                               NaN         NaN       NaN        NaN
Booking_ID                         NaN         NaN       NaN        NaN
Booking_Status                     NaN         NaN       NaN        NaN
Customer_ID                        NaN         NaN       NaN        NaN
Vehicle_Type                       NaN         NaN       NaN        NaN
Pickup_Location                    NaN         NaN       NaN        NaN
Drop_Location                      NaN         NaN       NaN        NaN
V_TAT                              NaN         NaN       NaN        NaN
C_TAT                              NaN         NaN       NaN        NaN
Canceled_Rides_by_Customer         NaN         NaN       NaN        NaN
Canceled_Rides_by_Driver           NaN         NaN       NaN        NaN
Incomplete_Rides                   NaN         NaN       NaN        NaN
Incomplete_Rides_Reason            NaN         NaN       NaN        NaN
Booking_Value               548.751883  536.541221     100.0      242.0
Payment_Method                     NaN         NaN       NaN        NaN
Ride_Distance                14.189927    15.77627       0.0        0.0
Driver_Ratings                     NaN         NaN       NaN        NaN
Customer_Rating                    NaN         NaN       NaN        NaN
Ride_Outcome                       NaN         NaN       NaN        NaN
Revenue_per_km               57.790245  142.192086  2.040816  10.102564
Is_Cancelled                  0.280837     0.44941       0.0        0.0

                                  50%    75%     max
Date                              NaN    NaN     NaN
Time                              NaN    NaN     NaN
Booking_ID                        NaN    NaN     NaN
Booking_Status                    NaN    NaN     NaN
Customer_ID                       NaN    NaN     NaN
Vehicle_Type                      NaN    NaN     NaN
Pickup_Location                   NaN    NaN     NaN
Drop_Location                     NaN    NaN     NaN
V_TAT                             NaN    NaN     NaN
C_TAT                             NaN    NaN     NaN
Canceled_Rides_by_Customer        NaN    NaN     NaN
Canceled_Rides_by_Driver          NaN    NaN     NaN
Incomplete_Rides                  NaN    NaN     NaN
Incomplete_Rides_Reason           NaN    NaN     NaN
Booking_Value                   386.0  621.0  2999.0
Payment_Method                    NaN    NaN     NaN
Ride_Distance                     8.0   26.0    49.0
Driver_Ratings                    NaN    NaN     NaN
Customer_Rating                   NaN    NaN     NaN
Ride_Outcome                      NaN    NaN     NaN
Revenue_per_km              20.352941   48.8  2981.0
Is_Cancelled                      0.0    1.0     1.0

In [44]:
print("Booking Status counts:\n", df['Booking_Status'].value_counts())
print("Payment Method counts:\n", df['Payment_Method'].value_counts())
print("Vehicle Type counts:\n", df['Vehicle_Type'].value_counts())

Booking Status counts:
 Booking_Status
Success                 63967
Canceled By Driver      18434
Canceled By Customer    10499
Driver Not Found        10124
Name: count, dtype: int64
Payment Method counts:
 Payment_Method
Unknown        39057
Cash           35022
UPI            25881
Credit Card     2435
Debit Card       629
Name: count, dtype: int64
Vehicle Type counts:
 Vehicle_Type
Prime Sedan    14877
Ebike          14816
Auto           14755
Prime Plus     14707
Bike           14662
Prime Suv      14655
Mini           14552
Name: count, dtype: int64

In [47]:
# Save as CSV (always safe)
df.to_csv("OLA_Cleaned.csv", index=False)

# Save as Excel
df.to_excel("OLA_Cleaned.xlsx", index=False, engine="openpyxl")

print("Files saved: OLA_Cleaned.csv and OLA_Cleaned.xlsx ✅")

Files saved: OLA_Cleaned.csv and OLA_Cleaned.xlsx ✅